/* THEME */

:root{
    --primary_color: #a92819;
    --secondary-color:#fafafa;
    --box-shadow-color: rgb(221, 218, 218);
    --dark-theme:#222;
    --bg-color-light: #f8f6f6;
    --input-grey-theme: #333;
    --text-color: #FFFF;
    --btn-color: #1a73e8;
}
header{
    width: auto;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
}
header > nav{
    display: flex;
    height: 6vh;
    box-shadow: 0 0 0.5rem 0 var(--box-shadow-color);
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: var(--secondary-color);
}
header nav ul {
    display: flex;
    align-self: center;
    align-items: center;
}
header nav ul li{
    text-transform: uppercase;
    font-size: 1.3rem;
}
header nav ul:first-child{
    width: 10%;
}
header nav ul:first-child li{
    padding: 0 0.5rem;
}
header nav ul:nth-child(2){
    display: inline-flex;
    width: 90%;
    justify-content: flex-end;
} 
/* header nav ul:nth-child(2) li a:hover, 
.redTheme{
     background-color: var(--primary_color);
     color: var(--secondary-color);
}
header nav ul li a:hover, 
.lightTheme{
     background-color: var(--secondary-color);
     color: var(--dark-theme);
} */
header nav ul li a{
    width: 100%;
    height: 100%;
    line-height: 2;
    padding:1.5rem 1.5rem;
}
header nav ul li a[role="button"]{
    background-color: var(--primary_color);
    color: var(--secondary-color);
}
#signIn{
    width: auto;
    height: 100vh;
    background: url(../image/home-hero.jpg) no-repeat fixed
    center center / cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;
}
#signIn  h1{
    max-width: 55rem;
    color: var(--secondary-color);
    font-weight: 5;
    font-size: 4.5rem;
    margin-left: 10rem;
    padding-bottom: 8rem;
    letter-spacing: 0.1rem;
    z-index: 2;
}
#signIn > .btnConnexion{
    display: block;
    max-width: 19rem;
    margin-left: 10rem;
    margin-top: -4rem;
    padding: 1.5rem 1rem;
    background-color: var(--primary_color);
    text-transform: uppercase;
    text-align: center;
    color: #fafafa;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    z-index: 2;
}
.arrowbtn{
    background-color: var(--primary_color);
    padding: 1rem;
    border-radius: 50%;
    float: inline-end;
    margin-right: 3rem;
}
#signIn > img{
    background-color: var(--primary_color);
    max-width: 7rem;
    border-radius: 50%;
}
#connexion{
    margin: 0 auto;
    height: 33vh;
    width: auto;
    text-align: center;
    max-width: 40rem;
    padding-top: 6.0rem;
}
#connexion > h2{
    font-size: 3rem;
    font-weight: 100;
}
#connexion p{
    margin-top: 1.5%;
    line-height: 2.2rem;
}
.arrowBtn{
    background-color: var(--primary_color);
    border-radius: 50%;
    box-shadow: 0 1rem 1rem var(--dark-theme);
    cursor: pointer;
    position: fixed;
    bottom: 10%;
    display: grid;
    text-align: center;
    right: 5%;
    align-items: center;
    padding: 1rem;
}
#form{
    max-width: 80rem;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    padding-top: 2rem;
}
fieldset{
    border: solid  var(--box-shadow-color);
    border-width: 0.15rem;
    border-radius: 1rem;
}
legend{
    font-size: 2.6rem;
    font-weight: 100;
    letter-spacing: 0.05rem;
    padding: 0 1rem;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
label{
    padding: 1rem 0;
}
input{
    padding: 1.5rem 0.7rem;
    border: solid transparent;
    border-bottom-color: var(--box-shadow-color);
    border-bottom-width: 0.15rem;
    background-color: var(--bg-color-light);
    font-size: 1.5rem;
    color: var(--input-grey-theme);
    outline: none;
}
input:focus{
    box-shadow: 0 0 0.7rem 0 var(--primary_color);
}
input:last-child{
    margin: 1.0rem auto;
    padding: 1.5rem 6rem;
    outline: none;
    background-color: var(--btn-color);
    border: none;
    color: var(--text-color);
    text-transform: uppercase;
    cursor: pointer;
}
#connexionForm{
    max-width: 80rem;
    margin: 0 auto;
    padding-top: 6rem;
}
.welcome{
   text-align: center;
   padding-bottom: 3rem;
   font-size: 3rem;
   font-weight: 100;
}
.warning{
    background-color: var(--primary_color);
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 1.0rem 1.0rem;
    color: var(--text-color);
    margin-bottom: 2.5rem;
    font-size: 2rem;
}
footer{
    height: 30vh;
}